/* css styles */

    li {
      margin-bottom: 0.5em; // Adjust the value as needed
    }


/* From:
https://www.andreashandel.com/posts/2023-06-13-custom-callouts-quarto/
*/


.center{
  text-align: center !important
}

.announcement {
  margin: 1em 0;
  border: 2px solid gray;
  border-left: 10px solid rgb(44, 62, 80); 
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.announcement-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: black;
  background-color:rgb(44, 62, 80);
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  /* background-image: url("goal.png"); */
}

.announcement-container {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  color: black;
  background-color: lightgrey;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
}



